<mat-card *ngIf="smartphone" fxLayout="column">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <img mat-card-image [src]="smartphone.photo" [alt]="smartphone.model">
    <mat-card-content>
      <mat-card-title>{{ smartphone.model }}</mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">{{ smartphone.price | currency }}</mat-card-subtitle>
    </mat-card-content>
  </div>
  <mat-card-actions fxFlexAlign="end">
    <button mat-button color="accent">Detalhes</button>
  </mat-card-actions>
</mat-card>