<div>
    <img src="{{smartphone.photo}}" alt="{{smartphone.model}}">
</div>
<h2>{{ smartphone.model }}</h2>
<div *ngIf="smartphone.color==='BLACK'"><span>Cor: </span> Preto </div>
<div *ngIf="smartphone.color==='PINK'"><span>Cor: </span> Rosa </div>
<div *ngIf="smartphone.color==='GOLD'"><span>Cor: </span> Dourado </div>
<div *ngIf="smartphone.color==='WHITE'"><span>Cor: </span> Branco </div>
<div><span>Marca: </span> {{ smartphone.brand }} </div>
<div><span>Preço: </span> {{ smartphone.price | currency }} </div>
<div><span>Código de identificação: </span> {{ smartphone.code }} </div>
<div><span>Data de início das vendas: </span> {{ smartphone.startDate | date: 'dd/MM/yyyy' }} </div>
<div><span>Vendido até: </span> {{ smartphone.endDate | date: 'dd/MM/yyyy'}} </div>